<br>
<br>


Bienvenido a tu perfil:
<p>
  <%= @user.email %>
  <span class="logo icon fa-bicycle"></span>
</p>

Estos son tus progresos:
<span class="logo icon fa-bar-chart"></span>


<p>
  <strong>Distancia:</strong>
  <%= @user.distancia %> [km] 
  <span class="logo icon fa-dashboard"></span>
</p>

<p>
  <strong>Tiempo:</strong>
  <%= @user.tiempo %> [horas]
  <span class="logo icon fa-clock-o"></span>
</p>

<p>
  <strong>CO2:</strong>
  <%= @user.co2 %>	[co2 ahorrado]
  <span class="logo icon fa-calculator"></span>
</p>

<p>
  <strong>Calorias:</strong>
  <%= @user.calorias %> [calorías quemadas]
  <span class="logo icon fa-medkit"></span>
</p>

<%= social_share_button_tag("SmartBike") %>

