<br>
<br>

Hola:

Bienvenido a tu perfil:

Estos son tus progresos:

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Edad:</strong>
  <%= @user.edad %>
</p>

<p>
  <strong>Distancia:</strong>
  <%= @user.distancia %>
</p>

<p>
  <strong>Tiempo:</strong>
  <%= @user.tiempo %>
</p>

<p>
  <strong>cO2:</strong>
  <%= @user.co2 %>
</p>

<p>
  <strong>calorias:</strong>
  <%= @user.calorias %>
</p>

