
Bienvenido a tu perfil:

<p>
  <%= @user.email %>
</p>

Estos son tus progresos:


<p>
  <strong>Distancia:</strong>
  <%= @user.distancia %> [km]
</p>

<p>
  <strong>Tiempo:</strong>
  <%= @user.tiempo %> [horas]
</p>

<p>
  <strong>cO2:</strong>
  <%= @user.co2 %>	[co2 ahorrado]
</p>

<p>
  <strong>calorias:</strong>
  <%= @user.calorias %> [calorías quemadas]
</p>

