<!--
<title>SmartBike - Bicicleta Inteligente</title>
<body>
	<div class="jumbotron">
		<br />
		<br />
		<center>
		<div class="jumbotron">
			<p>
			<%= image_tag 'Logo2.png' %>
			</p>
			<p>
			¿Quieres saber a que distancia estás de tu bicicleta?
			</p>
			<br />
			<p>
				<a class="btn btn-lg btn-success" href="maps" role="button">VER MAPA</a>
			</p>
			<br />
			<br />
		</center>	
		</div>
		<div class ="row marketing">
			<div class="col-lg-5">
			<h1>App Android</h1>
			<p>
				Revisa el estado de tu bicicleta. Pobre el que se atreva a robarla, siempre tendrás ojos puestos en ella. ¡Cuentale a todos tus logros!
			</p>
			<h2>Dispositivo Electrónico</h2>
			<p>
				Tu propio, pequeño y escondido espía. Este, junto con un sistema de señalización, te ofrece seguridad tanto arriba como abajo de tu bici. 
			</p>
		    </div>

			<div class="col-lg-5">
			<h1>Página Web</h1>
			<p>
				Velo donde sea, muestrale a tus amigos, todo lo que tu celular y tu bicicleta ve. Si tu alarma se activa, tus amigos podrán ayudarte a encontrarla.
			</p>
			<h2>¡Asegura Tu Bicicleta!</h2>
			<p>
				SmartBike es todo lo que necesitas para solucionar todas esas falencias de la seguridad en tu bicicleta. Protegete, Protegela!
			</p>
			</div>
		</div>
	</div>
</body>
-->

<html>
	<head>
		<title>SmartBike - Bicicleta Inteligente</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<!--[if lte IE 8]><script src="css/ie/html5shiv.js"></script><![endif]-->


		<!--[if lte IE 8]><link rel="stylesheet" href="css/ie/v8.css" /><![endif]-->
	</head>
	<body>

		<!-- Header 
			<div id="header">
				<span class="logo icon fa-bicycle"></span>
				
				<h1>Hola. Bienvenido a SmartBike</h1>
				<p>La solucíón a todos los problemas de las bicicletas</a>
				<br />
				Ve a donde tu quieras y donde tu bicicleta no quieres que vaya</a>.</p>
				
			</div>
			 Main -->

				<header class="major container small">

					<%= image_tag "https://photos-5.dropbox.com/t/1/AADyJ2Ek4r6yeNN_tkfNl1A1SxVztDGUsaDfGafi-1mdpw/12/26851278/png/1024x768/3/1412924400/0/2/Cover.png/xt2t1r4MsHYnoAMMbHdGqVe2wHLuEgiH3RPyS_lt2ac" %>
					<br>
					
					<span class="logo icon fa-bicycle"></span>
					<br>
					<br>
					<h2>Ve donde tu quieras
					<br />
					y a donde no quieres que 
					<br />
					tu bicicleta vaya</h2>
					<p>
						<iframe width="750" height="450" src="http://www.youtube.com/embed/feIn3KPIe08" frameborder="0"></iframe>
					</p> 
					<!--
					<p>Tellus erat mauris ipsum fermentum<br />
					etiam vivamus nunc nibh morbi.</p>
					-->
				</header>
				
				<div class="box alt container">
					<section class="feature left">
						<a href="#" class="image icon fa-signal"><%= image_tag("pic01.jpg") %></a>
						<div class="content">
							<h3>Dispositivo Electrónico Arduino</h3>
							<p>Tu propio, pequeño y escondido espía. Este, junto con un sistema de señalización, te ofrece seguridad tanto arriba como abajo de tu bicicleta.</p>
						</div>
					</section>
					<section class="feature right">
						<a href="#" class="image icon fa-code"><%= image_tag("pic02.jpg") %></a>
						<div class="content">
							<h3>Aplicación y Página Web</h3>
							<p>Velo donde sea, muestrale a tus amigos, todo lo que tu celular y tu bicicleta ve. Si tu alarma se activa, tus amigos podrán ayudarte a encontrarla.</p>
						</div>
					</section>
					<section class="feature left">
						<a href="#" class="image icon fa-mobile"><%= image_tag("pic03.jpg") %></a>
						<div class="content">
							<h3>Aplicación Movil Android</h3>
							<p>Revisa el estado de tu bicicleta. Pobre el que se atreva a robarla, siempre tendrás ojos puestos en ella. ¡Cuentale a todos tus logros!</p>
						</div>
					</section>
				</div>
				
				<!--
				<div class="box container">
					<header>
						<h2>A lot of generic stuff</h2>
					</header>
					<section>
						<header>
							<h3>Paragraph</h3>
							<p>This is the subtitle for this particular heading</p>
						</header>
						<p>Phasellus nisl nisl, varius id <sup>porttitor sed pellentesque</sup> ac orci. Pellentesque 
						habitant <strong>strong</strong> tristique <b>bold</b> et netus <i>italic</i> malesuada <em>emphasized</em> ac turpis egestas. Morbi 
						leo suscipit ut. Praesent <sub>id turpis vitae</sub> turpis pretium ultricies. Vestibulum sit 
						amet risus elit.</p>
					</section>
					<section>
						<header>
							<h3>Blockquote</h3>
						</header>
						<blockquote>Fringilla nisl. Donec accumsan interdum nisi, quis tincidunt felis sagittis eget.
						tempus euismod. Vestibulum ante ipsum primis in faucibus.</blockquote>
					</section>
					<section>
						<header>
							<h3>Divider</h3>
						</header>
						<p>Donec consectetur vestibulum dolor et pulvinar. Etiam vel felis enim, at viverra 
						ligula. Ut porttitor sagittis lorem, quis eleifend nisi ornare vel. Praesent nec orci 
						facilisis leo magna. Cras sit amet urna eros, id egestas urna. Quisque aliquam 
						tempus euismod. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices 
						posuere cubilia.</p>
						<hr />
						<p>Donec consectetur vestibulum dolor et pulvinar. Etiam vel felis enim, at viverra 
						ligula. Ut porttitor sagittis lorem, quis eleifend nisi ornare vel. Praesent nec orci 
						facilisis leo magna. Cras sit amet urna eros, id egestas urna. Quisque aliquam 
						tempus euismod. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices 
						posuere cubilia.</p>
					</section>
					<section>
						<header>
							<h3>Unordered List</h3>
						</header>
						<ul class="default">
							<li>Donec consectetur vestibulum dolor et pulvinar. Etiam vel felis enim, at viverra ligula. Ut porttitor sagittis lorem, quis eleifend nisi ornare vel.</li>
							<li>Donec consectetur vestibulum dolor et pulvinar. Etiam vel felis enim, at viverra ligula. Ut porttitor sagittis lorem, quis eleifend nisi ornare vel.</li>
							<li>Donec consectetur vestibulum dolor et pulvinar. Etiam vel felis enim, at viverra ligula. Ut porttitor sagittis lorem, quis eleifend nisi ornare vel.</li>
							<li>Donec consectetur vestibulum dolor et pulvinar. Etiam vel felis enim, at viverra ligula. Ut porttitor sagittis lorem, quis eleifend nisi ornare vel.</li>
						</ul>
					</section>
					<section>
						<header>
							<h3>Ordered List</h3>
						</header>
						<ol class="default">
							<li>Donec consectetur vestibulum dolor et pulvinar. Etiam vel felis enim, at viverra ligula. Ut porttitor sagittis lorem, quis eleifend nisi ornare vel.</li>
							<li>Donec consectetur vestibulum dolor et pulvinar. Etiam vel felis enim, at viverra ligula. Ut porttitor sagittis lorem, quis eleifend nisi ornare vel.</li>
							<li>Donec consectetur vestibulum dolor et pulvinar. Etiam vel felis enim, at viverra ligula. Ut porttitor sagittis lorem, quis eleifend nisi ornare vel.</li>
							<li>Donec consectetur vestibulum dolor et pulvinar. Etiam vel felis enim, at viverra ligula. Ut porttitor sagittis lorem, quis eleifend nisi ornare vel.</li>
						</ol>
					</section>
					<section>
						<header>
							<h3>Table</h3>
						</header>
						<div class="table-wrapper">
							<table class="default">
								<thead>
									<tr>
										<th>ID</th>
										<th>Name</th>
										<th>Description</th>
										<th>Price</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>45815</td>
										<td>Something</td>
										<td>Ut porttitor sagittis lorem, quis eleifend nisi ornare vel.</td>
										<td>29.99</td>
									</tr>
									<tr>
										<td>24524</td>
										<td>Nothing</td>
										<td>Ut porttitor sagittis lorem, quis eleifend nisi ornare vel.</td>
										<td>19.99</td>
									</tr>
									<tr>
										<td>45815</td>
										<td>Something</td>
										<td>Ut porttitor sagittis lorem, quis eleifend nisi ornare vel.</td>
										<td>29.99</td>
									</tr>
									<tr>
										<td>24524</td>
										<td>Nothing</td>
										<td>Ut porttitor sagittis lorem, quis eleifend nisi ornare vel.</td>
										<td>19.99</td>
									</tr>
								</tbody>
								<tfoot>
									<tr>
										<td colspan="3"></td>
										<td>100.00</td>
									</tr>
								</tfoot>
							</table>
						</div>
					</section>
					<section>
						<header>
							<h3>Form</h3>
						</header>
						<form method="post" action="#">
							<div class="row">
								<div class="6u">
									<label for="name">Name</label>
									<input class="text" type="text" name="name" id="name" value="" placeholder="John Doe" />
								</div>
								<div class="6u">
									<label for="email">Email</label>
									<input class="text" type="text" name="email" id="email" value="" placeholder="johndoe@domain.tld" />
								</div>
							</div>
							<div class="row">
								<div class="12u">
									<label for="subject">Subject</label>
									<input class="text" type="text" name="subject" id="subject" value="" placeholder="Enter your subject" />
								</div>
							</div>
							<div class="row">
								<div class="12u">
									<label for="subject">Message</label>
									<textarea name="message" id="message" placeholder="Enter your message" rows="6"></textarea>
								</div>
							</div>
							<div class="row">
								<div class="12u">
									<ul class="actions">
										<li><input type="submit" value="Send" /></li>
										<li><input type="reset" value="Reset" class="alt" /></li>
									</ul>
								</div>
							</div>
						</form>
					</section>
				</div>
				-->
			<br>
			<br>
			<br>

		<!-- Footer -->
			<div id="footer">
				<div class="container small">

					<h3>Ve la posición actual de tu bicicleta</h3>
					<ul class="actions">
						<li><a href="geofences/1" class="button">Ver</a></li>
					</ul>
				<!--
					<header class="major last">
						<h2>Questions or comments?</h2>
					</header>

					<p>Vitae natoque dictum etiam semper magnis enim feugiat amet curabitur tempor
					orci penatibus. Tellus erat mauris ipsum fermentum etiam vivamus.</p>

					<form method="post" action="#">
						<div class="row collapse-at-2">
							<div class="6u">
								<input type="text" name="name" placeholder="Name" />
							</div>
							<div class="6u">
								<input type="email" name="email" placeholder="Email" />
							</div>
						</div>
						<div class="row">
							<div class="12u">
								<textarea name="message" placeholder="Message" rows="6"></textarea>
							</div>
						</div>
						<div class="row">
							<div class="12u">
								<ul class="actions">
									<li><input type="submit" value="Send Message" /></li>
								</ul>
							</div>
						</div>
					</form>

				-->
				
					<ul class="icons">
						<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
						<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
						<li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
						<li><a href="#" class="icon fa-github"><span class="label">Github</span></a></li>
						<li><a href="#" class="icon fa-dribbble"><span class="label">Dribbble</span></a></li>
					</ul>
					
					<ul class="copyright">
						<li>&copy; BitGear. All rights reserved.</li><li>Design: <a href="http://bitgear.feriadesoftware.cl">BitGear</a></li>
					</ul>
			
				</div>
			</div>

	</body>
</html>