<h1>Listing viajes</h1>

<table>
  <thead>
    <tr>
      <th>Id viaje</th>
      <th>User</th>
      <th>Distancia</th>
      <th>Tiempo</th>
      <th>Fecha</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @viajes.each do |viaje| %>
      <tr>
        <td><%= viaje.id_viaje %></td>
        <td><%= viaje.user_id %></td>
        <td><%= viaje.distancia %></td>
        <td><%= viaje.tiempo %></td>
        <td><%= viaje.fecha %></td>
        <td><%= link_to 'Show', viaje %></td>
        <td><%= link_to 'Edit', edit_viaje_path(viaje) %></td>
        <td><%= link_to 'Destroy', viaje, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Viaje', new_viaje_path %>
